<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="style/style.css">

    <!-- JS DATA -->
    <script src="js/data.js"></script>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JS -->
    <script defer src="js/script.js"></script>
</head>
<body class="bg-body">
    <div id="root" class="bgc h-100 d-flex justify-content-center align-items-center">
        <main class="container bg-white">
            <div class="row h-100">
                <section id="chat-bar" class="col-4 h-100 padding-0 d-flex flex-column border-end">
                    <!-- profilo utente -->
                    <div id="profile-user" class="flex-shrink-0 d-flex justify-content-between bgc-lightgrey">
                        <div class="media">
                            <figure>
                                <img :src="getAvatarUrl(user)" :alt="user.name">
                            </figure>
                            <div class="media-text">{{user.name}}</div>
                        </div>
                        <div class="w-25 text-muted d-flex justify-content-around align-items-center">
                            <i class="fa-solid fa-circle-notch" role="button"></i>
                            <i class="fa-solid fa-comment-alt" role="button"></i>
                            <i class="fa-solid fa-ellipsis-v" role="button"></i>
                        </div>
                    </div>
                    <!-- notifiche -->
                    <div id="notifications" class="flex-shrink-0 d-flex justify-content-between">
                        <div class="media">
                            <div class="media-icon">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="media-text">
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <div class="fs-6 text-decoration-underline" role="button">
                                    <small>Attiva le notifiche desktop</small>
                                </div>
                            </div>
                        </div>
                        <div class="close">

                            <i class="fa-solid fa-x " role="button"></i>
                        </div>
                    </div>
                    <!-- la barra di ricerca -->
                    <div id="search-chat" class="p-2 flex-shrink-0 bgc-lightgrey">
                        <i class="fa-solid fa-search text-muted"></i>
                        <input type="text" class="w-100" placeholder="Cerca..." v-model.trim="searchContact">
                    </div>
                    <!-- lista delle chat -->
                    <div id="contact-list" class="flex-grow-1 overflow-auto">
                        <div class="list-group">
                            <!-- La lista di contatti dell'utente -->
                            <button v-for="contact in filteredContact" :key="contact.id" type="button" class="list-group-item list-group-item-action list-group-heigth" @click="getContactById(contact.id)">
                                <div class="media d-flex">
                                    <figure>
                                        <img class="list-group-img rounded-circle " :src="getAvatarUrl(contact)" :alt="contact.name">
                                    </figure>
                                    <div class="h6 media-text">
                                        <div>{{contact.name}}</div>
                                    </div>
                                </div>
                            </button>
                    
                        </div>
                    </div>
                </section>
                    
                <!-- parte dove si legge la chat con un determitato contattto -->
                <section id="chat-contact" class="col-8 h-100 padding-0 d-flex flex-column">
                    <!-- profilo del contatto -->
                    <header class="profile-user flex-shrink-0 d-flex justify-content-between bgc-lightgrey">
                        <div class="media">
                            <figure>
                                <img :src="getAvatarUrl(contact)" alt="">
                            </figure>
                            <div class="h6 media-text">{{contact.name}}
                                <div class="mb-0 fw-light">
                                    <small>Ultimo accesso:</small>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex text-muted justify-content-around align-items-center me-3">
                            <i class="fa-solid fa-search ms-3"></i>
                            <i class="fa-solid fa-paperclip ms-3"></i>
                            <i class="fa-solid fa-ellipsis-v ms-3"></i>
                        </div>
                    </header>
                    <!-- chat effettiva con tutti i messaggi riecevuti e inviati -->
                    <section class="flex-grow-1 overflow-auto bg-chat">
                        <ul class="px-3">
                            <li v-for="message in contact.messages" class="chat-container p-3" :class="message.status">
                                <div class="chat p-2 rounded-3">
                                    <p>{{message.text}}</p>
                                    <time :datetime="message.date">{{message.date}}</time>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <!-- zona di scrittura di un nuovo messaggio -->
                    <footer class="messange-bar flex-shrink-0 container-fluid bgc-grey">
                        <div class="row h-100 align-items-center">
                            <div class="col-1 d-flex justify-content-center">
                                <i class="fa-regular fa-smile text-muted fa-xl" role="button"></i>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" v-model.trim="newMessageText" @keyup.enter="()=>{addMessages()}">
                            </div>
                            <div class="col-1 d-flex justify-content-center">
                                <i class="fa-solid fa-microphone text-mute fa-xl" role="button"></i>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </main>
    </div>
      
</body>
</html>