:root{
    --bs-border-radius: 0; /* modifico il border radius delle liste */
}
.bg-body{
    height: 100vh;
    background-image: linear-gradient(#009489 15% , #D7D9DA 15%);
}

#root .container {
    height: 90%;
}

.padding-0{
    padding-right: 0;
    padding-left: 0;
}

/* ! chat-bar */

#profile-user,
#search-chat{
    height: 70px;
    background-color: goldenrod;
}

#notifications{
    height: 80px;
    background-color: greenyellow;
}


/* .list-group{
    flex-grow: 1;
    background-color: #fff;
}

.list-group-heigth{
    height: 70px;
    width: 100%;
}

.list-group-img{
    width: 10%;
    height: auto;
}
 */
/* ! chat-contact */

#chat-contact header,
#chat-contact footer{
    height: 70px;
    background-color: dodgerblue;
}

.chat{
    background-color: lightslategray;    
}
