:root{
    --bs-border-radius: 0; /* modifico il border radius delle liste */
}
.bgc{
    background-image: linear-gradient(#009489 , #D7D9DA);
    height: 100vh;
}

.padding-0{
    padding-right: 0;
    padding-left: 0;
}

/* ! chat-bar */
.chat-app{
    height: 850px;
    background-color: #fff;
}
.block{
    height: 100px;
}

.list-group{
    flex-grow: 1;
    background-color: #fff;
}

.list-group-heigth{
    height: 70px;
    width: 100%;
}

.list-group-img{
    width: 10%;
    height: auto;
}

/* ! chat-contact */

.profile-user{
    height: 50px;
    background-color: dodgerblue;
}

.chat{
    flex-grow: 1;
    background-color: lightslategray;    
}

.messange-bar{
    height: 50px;
    background-color: goldenrod;
}