:root{
    --bs-border-radius: 0; /* modifico il border radius delle liste */
}


#root .container {
    height: 90%;
}

.padding-0{
    padding-right: 0;
    padding-left: 0;
}

/* ? background */

.bg-body{
    height: 100vh;
    background-image: linear-gradient(#009489 15% , #D7D9DA 15%);
}

.bg-chat{
    background-image: url("../img/mine.jpg");
}

.bgc-grey{
    background-color: #EEE5DC;
}

.bgc-lightgrey{
    background-color: #EBE9EB;
}

/* ! chat-bar */

#profile-user,
#search-chat{
    height: 70px;
}

#notifications{
    height: 80px;
    background-color: #8ADAFC;
}

.media{
    height: 100%;
    display: flex;
    align-items: center;
}

.media figure{
    height: 70px;
    padding: 0.5rem;
    margin-bottom: 0;
    flex-shrink: 0;
}

.media img{
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.media .media-text{
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.media .media-icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}

#notifications .close{
    margin-right: 0.5rem;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-chat{
    height: 50px;
    position: relative;
} 

#search-chat .fa-search {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#search-chat input{
    border: 0;
    height: 100%;
    padding-left: 50px;
}

/* ! chat-contact */

#chat-contact header,
#chat-contact footer{
    height: 70px;
    /* background-color: dodgerblue; */
}


/* ! chat */

.chat-container{
    display: flex;
}

.chat-container.sent{
    justify-content: flex-end;
}

.chat-container.received{
    justify-content: flex-start;
}

.chat-container.sent .chat{
    background-color: #D7F8BD;
}

.chat-container.received .chat{
    background-color: #FFFEFF;
}
.chat-container .chat p{
    margin-bottom: 0;
}

.chat-container .chat time{
    display: block;
    text-align: right;
    font-size: 10px;
    color: lightslategray;
}
